<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Edit User:</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="container">
		{% for i in info %}
		<a href="/show_info">Back</a>
		<h1>Edit User {{i['id']}}</h1>	
		<form action="/update_success/{{i['id']}}" method="POST">
			<p>First Name:<br><input type="text" name="edit_first_name"></p>
			<p>Last Name:<br><input type="text" name="edit_last_name"></p>
			<p>Email:<br><input type="email" name="edit_email"></p>
		{% endfor %}
			<input type="submit" name="submit" value="Update">
		</form>
	</div>
</body>
</html>


