<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Registration Form</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="container">
		<h1>Register Here!</h1>
		<form action="/add_success" method="post" id="regForm">
		{% with messages = get_flashed_messages(category_filter=["first_name"]) %}
			{% for message in messages %}
			<p style="color: red">{{message}}</p>
			{% endfor %}
		{% endwith %}
			<p>First Name:<br><input type="text" name="first_name"></p>
		{% with messages = get_flashed_messages(category_filter=["last_name"]) %}
			{% for message in messages %}
			<p style="color: red">{{message}}</p>
			{% endfor %}
		{% endwith %}
			<p>Last Name:<br><input type="text" name="last_name"></p>
		{% with messages = get_flashed_messages(category_filter=["email"]) %}
			{% for message in messages %}
			<p style="color: red">{{message}}</p>
			{% endfor %}
		{% endwith %}
			<div id="emailMsg"></div>
			<p>Email:<br><input type="email" name="email" id="email"></p>
		{% with messages = get_flashed_messages(category_filter=["password"]) %}
			{% for message in messages %}
			<p style="color: red">{{message}}</p>
			{% endfor %}
		{% endwith %}
			<p>Password:<br><input type="password" name="password"></p>
		{% with messages = get_flashed_messages(category_filter=["confirm_password"]) %}
			{% for message in messages %}
			<p style="color: red">{{message}}</p>
			{% endfor %}
		{% endwith %}
		{% with messages = get_flashed_messages(category_filter=["match_password"]) %}
			{% for message in messages %}
			<p style="color: red">{{message}}</p>
			{% endfor %}
		{% endwith %}
			<p>Confirm Password:<br><input type="password" name="confirm_password"></p>
			<button type="submit" name="submit">Signup!</button>
		</form>
		<form action="/">
			<button type="submit" name="submit">Login!</button>
		</form>
	</div>
</body>
</html>


